<ion-header >
  <ion-toolbar color="danger">
    <ion-back-button slot="start" defaultHref="home"></ion-back-button>
    <ion-title>pageReset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-img src="assets/images/reset.jfif"></ion-img>
  
  <form >
    <ion-item>
      <ion-input type="password" name="password" placeholder=" Ancien mot de passe" ></ion-input><br>
    </ion-item>
    <ion-item>
      <ion-input type="password" name="newpassword" placeholder=" nouveau mot de passe" ></ion-input><br>
    </ion-item>
    <ion-item>
      <ion-input type="password" name="confirmerpassword" placeholder=" confirmer mot de passe" ></ion-input><br>
    </ion-item><br>
    <ion-button type="submit" routerLink=""> valider</ion-button>
   </form>
  
</ion-content>
