.password{
    margin: 10px 10px;
    border: 2px solid rgb(180, 233, 155);
    border-radius: 10px;
    
}

.email{
    margin: 10px 10px;
    border: 2px solid rgb(180, 233, 155);
    border-radius: 10px;
}

.connecter{
    margin-left: 20px;
    
}

.annuler{
    margin-left: 40px;

}
.forgot {
    padding-left: 15px;
}
.register{
    padding-left: 25px;
}