<ion-header>
  <ion-toolbar>
    
    <ion-title>Mot de passe </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-content-header>
    <ion-img src="assets/images/motpass.jpeg"></ion-img>
  </ion-content-header><br>

  <ion-form >
   <ion-item>
     <ion-input type="email" name="email" placeholder="email" class="email"></ion-input><br>
   </ion-item><br>
   <ion-button type="submit" class="envoyer"> Envoyer</ion-button>
   <ion-button type="reset" routerLink="/page-reset" class="reset">reset password</ion-button>
  </ion-form>

</ion-content>
