ion-content ion-input{
   border-radius:50px;
   border-color:rgb(23, 143, 33);
   border-style:solid;
   padding-right: 5px;
   padding-left: 5px;
}
.envoyer{
   padding-left: 5px;
}
.reset{
   padding-left: 10px;
}