<ion-header>
  <ion-toolbar>
    
    <ion-title>Mot de passe </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content-header>
    <ion-img src="assets/images/motpass.jpeg"></ion-img>
  </ion-content-header>
  <form >
    <h4>Veuillez entrer votre email ! </h4>
   <ion-item>
     <ion-input type="email" name="email" placeholder="email" class="email"></ion-input><br>
   </ion-item><br>
   <ion-button (click)="openToast()" expand="round" type="submit" class="envoyer"> Envoyer</ion-button>
   <ion-button type="reset" routerLink="/page-reset" class="reset">Reinitialiser</ion-button>
  </form>

</ion-content>
