ion-content {
    --background: url(../../assets/images/bienvenue.jpg) no-repeat;

  }
  ion-content h1{
      text-align: center;
  }
  ion-button{
    font-size: 20px;
  }

  ion-content .connecter{
      margin: 30% 30%;
  }
  ion-content .register{
    margin: 0% 30%;
    
}