ion-content ion-button{
    --background:rgb(110, 153, 53);
}
ion-header ion-toolbar{
    --background:rgb(110, 153, 53);
}

ion-input{
    border-color: rgb(40, 71, 9);
    border: solid;
    border-radius: 20px;
}